<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/erp}"
>
  <head>
    <title th:text="${data.ref + ' - Management'}" />
    <link rel="stylesheet" th:href="@{/css/erp/form.css}" />
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const ref = window.location.pathname.split("/")[2];
        document.getElementById("header-route").innerHTML = `
        <p>Warehouses / ${ref} / <span class="active">Management</span></p>`;
      });
    </script>
    <script th:inline="javascript">
      document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("save-icon").innerHTML = saveIcon;
        document.getElementById("cancel-icon").innerHTML = cancelIcon;

        const currentDate = new Date();
        const oldDate = new Date(/*[[${data.updatedAt}]]*/);

        currentDate.setHours(0, 0, 0, 0);
        oldDate.setHours(0, 0, 0, 0);
        const timeDifference = currentDate.getTime() - oldDate.getTime();
        const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
        document.getElementById("updatedAt").innerText =
          days > 0 ? `${days} days ago` : "today";
      });
    </script>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="main-title">
        <h1>Management</h1>
      </div>
      <form
        th:object="${warehouse}"
        th:action="@{/warehouse/} + ${data.id} + '/update'"
        method="post"
        class="form-card"
      >
        <div class="form-header">
          <p class="text-muted text-sm">
            Last updated:
            <span id="updatedAt"></span>
          </p>
        </div>
        <div class="form-body">
          <div
            th:replace="~{fragments/form-input :: form-input(id='ref', name='ref', type='text', label='Ref*', default=${data.ref})}"
          />
          <div
            th:replace="~{fragments/form-input :: form-input(id='address', name='address', type='text', label='Address*', default=${data.address})}"
          />
          <div
            th:replace="~{fragments/form-input :: form-input(id='phone', name='phone', type='number', label='Phone*', default=${data.phone})}"
          />
        </div>
        <div class="form-footer">
          <button type="submit" class="button button-accent form-button">
            <div id="save-icon" class="icon-wrapper"></div>
            <p>Save Changes</p>
          </button>
          <a th:href="@{/warehouses/} + data.ref">
            <button type="button" class="button button-outline form-button">
              <div id="cancel-icon" class="icon-wrapper"></div>
              <p>Cancel Operation</p>
            </button>
          </a>
        </div>
      </form>
    </main>
  </body>
</html>
