<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/erp}"
>
  <head>
    <title>Accounting - Overview</title>
    <script>
      document.addEventListener(
        "DOMContentLoaded",
        () =>
          (document.getElementById("header-route").innerHTML = `
        <p>Accounting / <span class="active">Overview</span></p>`)
      );
    </script>
    <script th:inline="javascript">
      const rows = /*[[${data}]]*/ [];

      const getBalance = () =>
        rows.reduce(
          (balance, row) => balance + (row.order.type === "Sale" ? row.amount : -row.amount), 0
        );

      const Row = (amount, ref, createdAt, type) => `
        <tr onclick="handleRowClick('${ref}')">
          <td class="arrow-cell-wrapper">
            <div class="icon-wrapper arrow ${
              type === "Sale" ? "arrow-positive" : "arrow-negative"
            }">
              ${playIcon}
            </div>
            ${amount}
          </td>
          <td># ${ref}</td>
          <td align="right">${Intl.DateTimeFormat("en-US").format(
            new Date(createdAt)
          )}</td>
        </tr>
      `;

      const setTableRows = (rows) => {
        document.getElementById("table-data").innerHTML = rows
          .map((row) => Row(row.amount, row.ref, row.createdAt, row.order.type))
          .join("");
      };

      document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("balance").innerText = getBalance();
        document.getElementById("table-search-icon").innerHTML = searchIcon;
        setTableRows(rows);
        document
          .getElementById("table-search")
          .addEventListener("input", (e) => {
            const value = e.target.value.toLowerCase().trim();
            setTableRows(
              value.charAt(0) === "#"
                ? rows.filter((i) =>
                    i.ref.toLowerCase().startsWith(value.substring(1).trim())
                  )
                : rows.filter((i) => i.ref.toLowerCase().startsWith(value))
            );
          });
      });
    </script>
    <link rel="stylesheet" th:href="@{/css/erp/table.css}" />
  </head>
  <body>
    <main layout:fragment="content">
      <div class="main-title">
        <p class="text-muted">Ledger</p>
        <h1>$ <span id="balance"></span></h1>
        <p class="text-muted">Current cash balance</p>
      </div>
      <div class="table-card">
        <div class="table-actions">
          <div
            th:replace="~{fragments/searchbar :: searchbar(prefix = 'table')}"
          />
        </div>
        <div class="table-wrapper">
          <table class="table">
            <thead class="thead">
              <tr>
                <th>Amount</th>
                <th>Invoice Ref</th>
                <th class="align-right">Date</th>
              </tr>
            </thead>
            <tbody id="table-data" class="tbody"></tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
