<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/erp}"
>
  <head>
    <title>Home - Overview</title>
    <script>
      const options = {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric",
      };
      const today = new Date();
      document.addEventListener(
        "DOMContentLoaded",
        () =>
          (document.getElementById(
            "date"
          ).innerText = `Today is ${today.toLocaleDateString(
            "en-US",
            options
          )}.`)
      );
    </script>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="main-title">
        <h1>Hello Administrator!</h1>
        <p id="date" class="text-muted"></p>
      </div>
    </main>
  </body>
</html>
