<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/form}"
>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="main-title">
        <h1>Sign up an account</h1>
      </div>
      <form th:action="@{/signup}" method="post" class="form">
        <div class="form-input">
          <label for="username">Username</label>
          <input
            id="username"
            class="input"
            type="text"
            name="username"
            required
          />
        </div>
        <div class="form-input">
          <label for="email">Email</label>
          <input id="email" class="input" type="email" name="email" required />
        </div>
        <div class="form-input">
          <label for="password">Password</label>
          <input
            id="password"
            class="input"
            type="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="button button-submit">Sign up</button>
        <span class="line"></span>
        <span class="link-wrapper">
          <p class="link">
            Already registered?
            <a th:href="@{/login}">Sign in to your account</a>
          </p>
        </span>
      </form>
    </main>
  </body>
</html>
