.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 24px;
  width: 100%;
  font-size: var(--text-base);
}

.header-route-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.header-route-wrapper .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--text-base);
  width: var(--text-base);
}

.header-route {
  display: flex;
  font-size: var(--text-base);
}

.header-route .active {
  color: var(--accent);
}

.header-searchbar {
  width: 200px;
  border: var(--border-width-base) solid var(--border);
  font-size: var(--text-base);
  color: var(--placeholder);
}

.header-searchbar:hover {
  border-color: var(--primary-foreground);
}
