.sidebar {
  background-color: var(--primary);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 222vh;
  border-width: var(--border-width-base);
  padding: 22px 10px;
  border-radius: var(--rounded-md);
}

.sidebar-collapse {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  transform: translateX(-16px);
  color: var(--muted-foreground);
  background-color: var(--primary);
  border: var(--border-width-base) solid var(--border);
  border-right: none;
  border-radius: var(--rounded-md) 0 0 var(--rounded-md);
  left: 0;
}

.sidebar-routes {
  display: flex;
  flex-direction: column;
  color: var(--muted-foreground);
  gap: 20px;
}

.sidebar-route {
  display: flex;
  position: relative;
  justify-content: center;
  height: 28px;
  width: 28px;
  border-radius: var(--rounded-sm);
}

.sidebar-route .icon-wrapper {
  width: 24px;
  height: 24px;
}

.sidebar-route .icon {
  transition-property: color;
  transition-timing-function: var(--ease-in);
  transition-duration: var(--duration-lg);
  cursor: pointer;
}

.sidebar-route .icon:hover {
  color: var(--accent);
}

.sidebar-route.active {
  color: var(--accent);
}

.sidebar-route.active ::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  border-top: var(--border-width-lgs) solid var(--accent);
  border-radius: var(--rounded-md);
}

.sidebar-avatar {
  width: 46px;
  height: 46px;
  position: relative;
  overflow: visible;
}

.sidebar-avatar:hover {
  cursor: pointer;
}

.avatar-image {
  width: inherit;
  height: inherit;
  border-radius: 100%;
}

.dropdown {
  width: 148px;
  display: flex;
  flex-direction: column;
  border-width: var(--border-width-base);
  position: absolute;
  border-radius: var(--rounded-md);
  background-color: var(--primary);
  bottom: 0;
  right: 56px;
}

.dropdown-item {
  gap: 6px;
  padding: 6px;
  align-items: center;
  display: flex;
  font-size: var(--text-base);
  color: var(--primary-foreground);
  border-bottom: var(--border-width-base) solid var(--border);
}

.dropdown-item .icon-wrapper {
  width: var(--text-base);
  height: var(--text-base);
}

.dropdown-item:last-of-type {
  border-bottom: none;
}

.dropdown-item .destructive {
  color: var(--destructive);
}