<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/erp}"
>
  <head>
    <title th:text="${data.name + ' - Management'}" />
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const ref = window.location.pathname.split("/")[2];
        document.getElementById("header-route").innerHTML = `
        <p>Products / ${ref} / <span class="active">Management</span></p>`;
      });
    </script>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="main-title">
        <h1>Management</h1>
      </div>
      <div class="card"></div>
    </main>
  </body>
</html>
