<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/erp}"
>
  <head>
    <title>Settings - Profile</title>
    <link rel="stylesheet" th:href="@{/css/erp/form.css}" />
    <script>
      document.addEventListener(
        "DOMContentLoaded",
        () =>
          (document.getElementById("header-route").innerHTML = `
        <p>Settings / <span class="active">Profile</span></p>`)
      );
    </script>
  </head>
  <body>
    <main layout:fragment="content">
      <div class="main-title">
        <h1>Hello <span th:text="${user.username}"></span></h1>
      </div>
      <form
        th:object="${user}"
        th:action="@{/user/} + ${user.id} + '/update'"
        method="post"
        class="form-card"
      >
        <div class="form-header"></div>
        <div class="form-body">
          <div class="form-avatar">
            <img
              class="avatar-image"
              th:src="${#strings.isEmpty(user.avatar) ? '/images/avatar-placeholder.jpg' : user.avatar}"
            />
          </div>
          <div
            th:replace="~{fragments/form-input :: form-input(id='username', name='username', type='text', label='Username*', default=${user.username})}"
          />
          <div
            th:replace="~{fragments/form-input :: form-input(id='email', name='email', type='email', label='Email*', default=${user.email})}"
          />
          <div
            th:replace="~{fragments/form-input :: form-input(id='phone', name='phone', type='number', label='Phone*', default=${user.phone})}"
          />
          <div
            th:replace="~{fragments/form-input :: form-input(id='address', name='address', type='text', label='Address*', default=${user.address})}"
          />
          <div
            th:replace="~{fragments/form-input :: form-input(id='new-password', name='new-password', type='password', required='false', label='New password')}"
          />
          <div
            th:replace="~{fragments/form-input :: form-input(id='new-password-confirmation', name='new-password-confirmation', type='password', required='false', label='Confirm password')}"
          />
        </div>
        <div class="form-footer">
          <button type="submit" class="button button-accent">
            <span id="save-icon" class="icon-wrapper" />
            <p>Save</p>
          </button>
          <button class="button button-outline">
            <span id="cancel-icon" class="icon-wrapper" />
            <p>Cancel</p>
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
